ansi==0.1.3
apipkg==1.5
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorlog==4.1.0
cryptography==2.8
daemonize==2.5.0
dulwich==0.19.15
errbot==6.1.2
execnet==1.7.1
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
Markdown==2.6.11
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.1
pep8==1.7.1
pluggy==0.13.1
py==1.8.1
pycparser==2.19
Pygments==2.5.2
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL==19.1.0
pyparsing==2.4.6
pytest==5.3.5
pytest-cache==1.0
pytest-pep8==1.0.6
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
waitress==1.4.3
wcwidth==0.1.8
WebOb==1.8.6
WebTest==2.0.34
Werkzeug==0.16.1
